html {
    background: #e3e3e3;
}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 50 auto;
padding: 40px;
color: #242424;
border-top: 10px solid #242424;
background: white;
padding-bottom: 5px;

}

.stickynav{
    background: #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav-links li{
    display: inline-block;
}

#HomeContent{
    background: #ff00dd;
}

#AboutContent{
    background: #775f43;
}

#ContactsContent{
    background: #547743;
}

#GameDesignContent{
    background: #5b26ee;
}

#LevelDesignContent{
    background: #0daad1;
}

#ResumeContent{
    background: #9b1e95;
}